{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
Results
{% endblock %}


{% block content %}

{% if player.language != "EN" %}
<div style="text-align:center;font-size:16px">
    <p> <strong> 本部分实验结束。 </strong> </p>
    <p> <strong> 你在这部分的收益为 {{ player.cum_payoff }}. </strong> </p>
    <p> 请等待其他参与者完成决策后开始下一部分实验。 </p>
</div>
{% endif %}
{% if player.language != "CN" %}
<div style="text-align:center;font-size:16px">
    <p> <strong> This is the end of this part of the experiment. </strong> </p>
    <p> <strong> Your earnings for this part is {{ player.cum_payoff }}. </strong> </p>
    <p> Please wait for the other participants to finish their decisions in order to start the next part of the experiment. </p>
</div>
{% endif %}

<div style="text-align:right">
    {% next_button %}
</div>

<hr>
{% include Constants.historyall_template %}
{% include Constants.historyall_previous_template %}


{% endblock %}
