{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
{% endblock %}

{% block content %}
{% if player.language != "EN"  %}
<div style="text-align:center">
    <p >
    你与另一名玩家（“对方”）匹配成功。
    </p>
    <p>
        在这部分中，你将与<strong>同一名玩家</strong>进行  {{ Constants.interaction_length.0 }} 期的互动决策。
    </p>
    <p>
        <strong>
            {% if player.condition == "Asm" %}
            {% if player.id_in_group == 1 %}  你是玩家A。 {% else %} 你是玩家B。 {% endif %}
            在每一期，你将拥有  {{ player.endowment }} 份资源，而对方将拥有  {{ player.other_endowment}} 份资源。
            {% endif %}
        </strong>
    </p>
</div>
{% endif %}
{% if player.language != "CN"  %}
<div style="text-align:center">
    <p >
        You have just been matched with another participant.
    </p>
    <p>
        You will interact with the same participant for <strong> {{ Constants.interaction_length.0 }} rounds
        </strong> in this part.
    </p>
    <p>
        <strong>
            {% if player.condition == "Asm" %}
            {% if player.id_in_group == 1 %} You are Player A. {% else %} You are Player B. {% endif %}
            In each round, you receive {{ player.endowment }} points, while the other participant receives {{ player.other_endowment}} points.
            {% endif %}
        </strong>
    </p>
</div>
{% endif %}
<br/>
<div style="text-align:right">
    <button class="otree-btn-next btn btn-primary">Continue</button>
</div>

<br/>

<div class="card bg-light instructions">
    <div class="card-body">
        {% include Constants.instructions_template %}
    </div>
</div>

{% endblock %}


