{% load staticfiles otree %}

{% block content %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>MathJax example</title>
    <script type="text/javascript" async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML" async>
    </script>
</head>

<p style="text-align: center" style="font-size:16px">
    <strong><u>Summary of the Situation</u></strong>
</p>

{% if player.condition == "Asm" %}
<div>
    <p>
        You are Player {{ player.role }}.
        In each round, you receive {{ player.endowment }} points, and the other player receives {{ player.other_endowment }} points.
        You need to decide the number of points put into an <strong>Investment Account</strong> (\(x_1\)) and
        a <strong>Rationing Account</strong> (\(y_1\)).
        The rest of the points are kept to yourself.
    </p>
    <p>
    Suppose the other player put \(x_2\) points in the  Investment Account and \(y_2\) points in the Rationing Account.
    </p>
    <p>
        {% if player.A == 0 %}
        $$\text{Your Final Earnings} =  \underbrace{\frac{y_1}{y_1 + y_2} \frac{x_1 x_2}{2}}_{\text{earnings from the investment}} +
        \underbrace{ {{ player.endowment }} -x_1-y_1}_{\text{points kept for oneself}}$$
        {% endif %}
        {% if player.A == 60 %}
        $$\text{Your Final Earnings} =  \underbrace{\frac{y_1}{y_1 + y_2}(\frac{x_1 x_2}{2}+60)}_{\text{earnings from the investment}} +
        \underbrace{ {{player.endowment }} -x_2-y_2}_{\text{points kept for oneself}}$$
        {% endif %}
    </p>
    <p>
        In general, putting more points in the <i>Investment Account</i> (a higher \(x_1\))  <strong>generates a higher total return</strong>
        , while putting more points in the <i>Rationing Account</i> (a higher \(y_1\)) <strong>increases your share of the total return</strong>.
    </p>
</div>

{% else %}
<div>
    <p>
        In each round, you receive {{ player.endowment }} points.
        You need to decide the number of points put into an <strong>Investment Account</strong> (\(x_1\)) and a <strong>Rationing Account</strong> (\(y_1\)).
        The rest of the points (\({{ player.endowment }}-x_1-y_1\)) are kept to yourself.
    </p>
</div>




{% if player.condition == "Det" %}
<div>
    <p>
        Your final earnings can be expressed as
        {% if player.A == 0 %}
        $$\text{Final Earnings} =  \underbrace{\frac{y_1}{y_1 + y_2}x_1 x_2}_{\text{earnings from the investment}} +
        \underbrace{10-x_1-y_1}_{\text{points kept for oneself}}$$
        {% endif %}
        {% if player.A == 60 %}
        $$\text{Final Earnings} =  \underbrace{\frac{y_1}{y_1 + y_2}(x_1 x_2+60)}_{\text{earnings from the investment}} +
        \underbrace{10-x_1-y_1}_{\text{points kept for oneself}}$$
        {% endif %}
    </p>
    <p>
        In general, putting more points in the <i>Investment Account</i> (a higher \(x_1\))  <strong>generates a higher total return</strong>
        , while putting more points in the <i>Rationing Account</i> (a higher \(y_1\)) <strong>increases your share of the total return</strong>.
    </p>
</div>
{% endif %}



{% if player.condition == "Fix"  %}
<div>
    <p>
        Your final earnings can be expressed as
        $$\text{Final Earnings} =  \underbrace{\frac{y_1}{y_1 + y_2} \text{Total Return} }_{\text{earnings from the investment}} +
        \underbrace{10-x_1-y_1}_{\text{points kept for oneself}}$$
    </p>
    <p>
        The Total Return depends on whether the investment is successful, and the points put in the Investment Account.
    </p>

    {% if player.A == 0 %}
    $$   \text{Total Return} =
    \begin{cases}
    2x_1x_2, & \text{if successful (with probability 0.5)} \\
    0, & \text{if unsuccessful (with probability 0.5)}
    \end{cases} $$
    {% endif %}

    {% if player.A == 60 %}
    $$   \text{Total Return} =
    \begin{cases}
    2x_1x_2+60, & \text{if successful (with probability 0.5)} \\
    60, & \text{if unsuccessful (with probability 0.5)}
    \end{cases} $$
    {% endif %}
    <p>
        In general, putting more points in the <i>Investment Account</i> (a higher \(x_1\))  <strong>generates a higher total return</strong>
        , while putting more points in the <i>Rationing Account</i> (a higher \(y_1\))  <strong>increases your share of the total return</strong>.
    </p>
    <p>
        The computer randomly generates <strong>an integer between 1 and 200 </strong> (inclusive)
        with equal probability to determine whether the investment is a success.
    </p>
</div>
{% endif %}

{% if player.condition == "Var" %}
<div>
    <p>
        The computer randomly generates <strong>an integer between 1 and 110 </strong> (inclusive)
        with equal probability to determine whether the investment is a success. <br/>
    </p>
    <p>
        The Total Return depends on whether the investment is successful.
    </p>

    {% if player.A == 0 %}
    $$   \text{Total Return} =
    \begin{cases}
    110, & \text{if random number} \le 100 \\
    0, & \text{if random number} > 100
    \end{cases} $$
    {% endif %}

    {% if player.A == 60 %}
    $$   \text{Total Return} =
    \begin{cases}
    170, & \text{if random number} \le 100 \\
    60, & \text{if random number} > 100
    \end{cases} $$
    {% endif %}
    <p>
        Your final earnings can be expressed as
        $$\text{Final Earnings} =  \underbrace{\frac{y_1}{y_1 + y_2} \text{Total Return} }_{\text{earnings from the investment}} +
        \underbrace{10-x_1-y_1}_{\text{points kept for oneself}}$$
    </p>
    <p>
        In general, putting more points in the <i>Investment Account</i> (a higher \(x_1\))
        <strong>makes it more likely to receive a successful investment and a higher total return</strong>
        , while putting more points in the <i>Rationing Account</i> (a higher \(y_1\))  <strong>increases your share of the total return</strong>.
    </p>
</div>
{% endif %}
{% endif %}
{% endblock %}
