{% load staticfiles otree %}

{% block content %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>MathJax example</title>
    <script type="text/javascript" async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML" async>
    </script>
</head>

<p style="text-align: center" style="font-size:16px">
    <strong><u>Summary of the Situation</u></strong>
</p>
<div>
    <p>
        In each round, you receive 10 points.
        You need to decide the number of points put into an <strong>Investment Account</strong> (\(x_1\)) and a <strong>Rationing Account</strong> (\(y_1\)).
        The rest of the points (\(10-x_1-y_1\)) are kept to yourself.
    </p>
</div>


{% if player.treatment == "Det0_60" or player.treatment == "Det60_0" %}
<div>
    <p>
        Your final earnings can be expressed as
        {% if player.treatment == "Det0_60" %}
        $$\text{Final Earnings} =  \underbrace{\frac{y_1}{y_1 + y_2}x_1 x_2}_{\text{earnings from the investment}} +
        \underbrace{10-x_1-y_1}_{\text{points kept for oneself}}$$
        {% endif %}
        {% if player.treatment == "Det60_0" %}
        $$\text{Final Earnings} =  \underbrace{\frac{y_1}{y_1 + y_2}(x_1 x_2+60)}_{\text{earnings from the investment}} +
        \underbrace{10-x_1-y_1}_{\text{points kept for oneself}}$$
        {% endif %}
    </p>
    <p>
        In general, putting more points in the <i>Investment Account</i> (a higher \(x_1\))  <strong>generates a higher total return</strong>
        , while putting more points in the <i>Rationing Account</i> (a higher \(y_1\)) <strong>increases your share of the total return</strong>.
    </p>
</div>
{% endif %}


{% if player.treatment == "Fix0_60" or player.treatment == "Fix60_0" %}
<div>
    <p>
        Your final earnings can be expressed as
        $$\text{Final Earnings} =  \underbrace{\frac{y_1}{y_1 + y_2} \text{Total Return} }_{\text{earnings from the investment}} +
        \underbrace{10-x_1-y_1}_{\text{points kept for oneself}}$$
    </p>
    <p>
        The Total Return depends on whether the investment is successful, and the points put in the Investment Account.
    </p>

    {% if player.treatment == "Fix0_60" %}
    $$   \text{Total Return} =
    \begin{cases}
    2x_1x_2, & \text{if successful (with probability 0.5)} \\
    0, & \text{if unsuccessful (with probability 0.5)}
    \end{cases} $$
    {% endif %}

    {% if player.treatment == "Fix60_0" %}
    $$   \text{Total Return} =
    \begin{cases}
    2x_1x_2+60, & \text{if successful (with probability 0.5)} \\
    60, & \text{if unsuccessful (with probability 0.5)}
    \end{cases} $$
    {% endif %}
    <p>
        In general, putting more points in the <i>Investment Account</i> (a higher \(x_1\))  <strong>generates a higher total return</strong>
        , while putting more points in the <i>Rationing Account</i> (a higher \(y_1\))  <strong>increases your share of the total return</strong>.
    </p>
    <p>
        The computer randomly generates <strong>an integer between 1 and 200 </strong> (inclusive)
        with equal probability to determine whether the investment is a success.
    </p>
</div>
{% endif %}

{% if player.treatment == "Var0_60" or player.treatment == "Var60_0" %}
<div>
    <p>
        The computer randomly generates <strong>an integer between 1 and 110 </strong> (inclusive)
        with equal probability to determine whether the investment is a success. <br/>
    </p>
    <p>
        The Total Return depends on whether the investment is successful.
    </p>

    {% if player.treatment == "Var0_60" %}
    $$   \text{Total Return} =
    \begin{cases}
    110, & \text{if random number} \le 100 \\
    0, & \text{if random number} > 100
    \end{cases} $$
    {% endif %}

    {% if player.treatment == "Var60_0" %}
    $$   \text{Total Return} =
    \begin{cases}
    170, & \text{if random number} \le 100 \\
    60, & \text{if random number} > 100
    \end{cases} $$
    {% endif %}
    <p>
        Your final earnings can be expressed as
        $$\text{Final Earnings} =  \underbrace{\frac{y_1}{y_1 + y_2} \text{Total Return} }_{\text{earnings from the investment}} +
        \underbrace{10-x_1-y_1}_{\text{points kept for oneself}}$$
    </p>
    <p>
        In general, putting more points in the <i>Investment Account</i> (a higher \(x_1\))
        <strong>makes it more likely to receive a successful investment and a higher total return</strong>
        , while putting more points in the <i>Rationing Account</i> (a higher \(y_1\))  <strong>increases your share of the total return</strong>.
    </p>
</div>
{% endif %}

{% endblock %}
