{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block app_styles %}
<style>
    .otree-timer {
        display: none;
    }
</style>
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
<p>This is the end of the experiment. Thank you for your participation.</p>
<p><strong>IMPORTANT:</strong> Please provide the following Participation Code to the MTurk HIT in order to receive credit for
    taking the experiment. </p>
<p style="text-align:center"> <strong> Your Participation Code: {{ participant.code }}</strong> </p>

<hr>
<p style="text-align: center"> <strong> Payment Information </strong> </p>

<div style="text-align: center">
    <table>
        <tr>
            <td> Participation fee </td> <td> {{ participation_fee }} </td> </tr>
        {% if qualified and quiz_bonus > 0  %}
        <tr>
            <td> Quiz bonus </td> <td> ${{ quiz_bonus }} </td>
        </tr>
        {% endif %}
        <tr>
            <td>Allocation task</td> <td> To be determined</td>
        </tr>
        {% if matched %}
        <tr>
            <td> Investment task</td> <td>${{ coopetition_payment }}</td>
        </tr>
        {% endif %}
    </table>
    </br>
    <p>You payment of the experiment so far is {{final_payment}} </p>
    <p><strong>You will receive additional bonus from the allocation task</strong> when you are matched with another
        participant. </p>
    <p>You can keep this page open and check earnings from the allocation task later, which will be shown once you are matched.</p>

        <p>You should receive your participation fee and bonus payment within 24 hours.</p>
    <!--<p>The average earnings from the allocation task is about $0.55.</p>-->
</div>
{% endblock %}
{% block form %}
{% endblock %}



