{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
{% endblock %}

{% block content %}
<p>This is the end of the experiment. Thank you for your participation.</p>
<p><strong>IMPORTANT:</strong> Please provide the following Participation Code to the MTurk HIT in order to receive credit for
    taking the experiment. </p>
<p style="text-align:center"> <strong> Your Participation Code: {{ participant.code }}</strong> </p>

<hr>
<p style="text-align: center"> <strong> Payment Information </strong> </p>

<div style="text-align: center">
    <table class="table table-bordered">
        <tr>
            <td> Participation fee </td> <td> {{ participation_fee }} </td> </tr>
        {% if qualified %}
        <tr>
            <td> Quiz bonus </td> <td> ${{ quiz_bonus }} </td>
        </tr>
        {% endif %}
        <tr>
            <td>Allocation task</td> <td> {{ eet_payment }} </td>
        </tr>
        {% if matched %}
        <tr>
            <td> Investment task</td> <td>${{ coopetition_payment }}</td>
        </tr>
        {% endif %}
    </table>


    <p><strong>You payment of the experiment is {{final_payment}}</strong> </p>
    <p>You should receive your participation fee and bonus payment within 24 hours.</p>
</div>

{% endblock %}

{% block form %}

{% endblock %}
