{% load staticfiles otree %}

{% block content %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>MathJax example</title>
    <script type="text/javascript" async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML" async>
    </script>
</head>

{% if player.language != "EN" %}
<div>
<p>
    Recall that your and the other participant’s earnings can be broken down as follows:
</p>
{% if player.condition == "Asm" and player.A == 0 %}
<div>

    <table>
        <tr>
            <th></th>
            <th>Investment Account</th><th>Rationing Account</th><th>Kept to oneself</th>
            <th>Total Return</th><th>Share of Total Return</th><th>Final Earnings</th>
        </tr>
        <tr>
            <th>You</th><td>\(x_1\)</td><td>\(y_1\)</td><td>\( {{ player.endowment }}-x_1-y_1\)</td>
            <td rowspan="2">\(\displaystyle \frac{x_1x_2}{2}\)</td><td> \(\displaystyle \frac{y_1}{y_1 + y_2} \)</td><td>\(\displaystyle \frac{y_1}{y_1 + y_2}\frac{x_1 x_2}{2}+ {{ player.endowment }}-x_1-y_1\)</td>
        </tr>
        <tr>
            <th>Other</th><td>\(x_2\)</td><td>\(y_2\)</td><td>\({{ player.other_endowment }}-x_2-y_2\)</td>
            <td>\(\displaystyle \frac{y_2}{y_1 + y_2} \)</td><td>\(\displaystyle \frac{y_1}{y_1 + y_2}\frac{x_1 x_2}{2}+ {{ player.other_endowment }} -x_1-y_1\)</td>
        </tr>
    </table>
</div>
{% endif %}

{% if player.condition == "Asm" and player.A == 60 %}
<div>
    <table>
        <tr>
            <th></th>
            <th>Investment Account</th><th>Rationing Account</th><th>Kept to oneself</th>
            <th>Total Return</th><th>Share of Total Return</th><th>Final Earnings</th>
        </tr>
        <tr>
            <th>You</th><td>\(x_1\)</td><td>\(y_1\)</td><td>\( {{ player.endowment }}-x_1-y_1\)</td>
            <td rowspan="2">\(\displaystyle \frac{x_1x_2}{2} + 60\)</td><td> \(\displaystyle \frac{y_1}{y_1 + y_2} \)</td><td>\(\displaystyle \frac{y_1}{y_1 + y_2}(\frac{x_1 x_2}{2}+60)+ {{ player.endowment }}-x_1-y_1\)</td>
        </tr>
        <tr>
            <th>Other</th><td>\(x_2\)</td><td>\(y_2\)</td><td>\({{ player.other_endowment }}-x_2-y_2\)</td>
            <td>\(\displaystyle \frac{y_2}{y_1 + y_2} \)</td><td>\(\displaystyle \frac{y_1}{y_1 + y_2}(\frac{x_1 x_2}{2}+60)+ {{ player.other_endowment }} -x_1-y_1\)</td>
        </tr>
    </table>
</div>
{% endif %}

{% if player.condition == "Det" and player.A == 0 %}
<div>
    <table>
        <tr>
            <th></th>
            <th>Investment Account</th><th>Rationing Account</th><th>Kept to oneself</th>
            <th>Total Return</th><th>Share of Total Return</th><th>Final Earnings</th>
        </tr>
        <tr>
            <th>You</th><td>\(x_1\)</td><td>\(y_1\)</td><td>\(10-x_1-y_1\)</td>
            <td rowspan="2">\(x_1x_2\)</td><td> \(\displaystyle \frac{y_1}{y_1 + y_2} \)</td><td>\(\displaystyle \frac{y_1}{y_1 + y_2}x_1 x_2+10-x_1-y_1\)</td>
        </tr>
        <tr>
            <th>Other</th><td>\(x_2\)</td><td>\(y_2\)</td><td>\(10-x_2-y_2\)</td>
            <td>\(\displaystyle \frac{y_2}{y_1 + y_2} \)</td><td>\(\displaystyle \frac{y_1}{y_1 + y_2}x_1 x_2+10-x_1-y_1\)</td>
        </tr>
    </table>
</div>
{% endif %}

{% if player.condition == "Det" and player.A == 60 %}
<div>
    <table>
        <tr>
            <th></th>
            <th>Investment Account</th><th>Rationing Account</th><th>Kept to oneself</th>
            <th>Total Return</th><th>Share of Total Return</th><th>Final Earnings</th>
        </tr>
        <tr>
            <th>You</th><td>\(x_1\)</td><td>\(y_1\)</td><td>\(10-x_1-y_1\)</td>
            <td rowspan="2">\(x_1x_2+60\)</td><td> \(\displaystyle \frac{y_1}{y_1 + y_2} \)</td><td>\(\displaystyle \frac{y_1}{y_1 + y_2}(x_1 x_2 + 60)+10-x_1-y_1\)</td>
        </tr>
        <tr>
            <th>Other</th><td>\(x_2\)</td><td>\(y_2\)</td><td>\(10-x_2-y_2\)</td>
            <td>\(\displaystyle \frac{y_2}{y_1 + y_2} \)</td><td>\(\displaystyle \frac{y_1}{y_1 + y_2}(x_1 x_2 + 60)+10-x_1-y_1\)</td>
        </tr>
    </table>
</div>
{% endif %}
<br/>
<p>
    In general, putting more points in the <i>Investment Account</i> (a higher \(x_1\))  <strong>generates a higher total return</strong>
    , while putting more points in the <i>Rationing Account</i> (a higher \(y_1\)) <strong>increases your share of the total return</strong>.
</p>

</div>
{% endif %}

{% if player.language != "CN" %}
<div>

<p>
    Recall that your and the other participant’s earnings can be broken down as follows:
</p>
{% if player.condition == "Asm" and player.A == 0 %}
<div>

    <table>
        <tr>
            <th></th>
            <th>Investment Account</th><th>Rationing Account</th><th>Kept to oneself</th>
            <th>Total Return</th><th>Share of Total Return</th><th>Final Earnings</th>
        </tr>
        <tr>
            <th>You</th><td>\(x_1\)</td><td>\(y_1\)</td><td>\( {{ player.endowment }}-x_1-y_1\)</td>
            <td rowspan="2">\(\displaystyle \frac{x_1x_2}{2}\)</td><td> \(\displaystyle \frac{y_1}{y_1 + y_2} \)</td><td>\(\displaystyle \frac{y_1}{y_1 + y_2}\frac{x_1 x_2}{2}+ {{ player.endowment }}-x_1-y_1\)</td>
        </tr>
        <tr>
            <th>Other</th><td>\(x_2\)</td><td>\(y_2\)</td><td>\({{ player.other_endowment }}-x_2-y_2\)</td>
            <td>\(\displaystyle \frac{y_2}{y_1 + y_2} \)</td><td>\(\displaystyle \frac{y_1}{y_1 + y_2}\frac{x_1 x_2}{2}+ {{ player.other_endowment }} -x_1-y_1\)</td>
        </tr>
    </table>
</div>
{% endif %}

{% if player.condition == "Asm" and player.A == 60 %}
<div>
    <table>
        <tr>
            <th></th>
            <th>Investment Account</th><th>Rationing Account</th><th>Kept to oneself</th>
            <th>Total Return</th><th>Share of Total Return</th><th>Final Earnings</th>
        </tr>
        <tr>
            <th>You</th><td>\(x_1\)</td><td>\(y_1\)</td><td>\( {{ player.endowment }}-x_1-y_1\)</td>
            <td rowspan="2">\(\displaystyle \frac{x_1x_2}{2} + 60\)</td><td> \(\displaystyle \frac{y_1}{y_1 + y_2} \)</td><td>\(\displaystyle \frac{y_1}{y_1 + y_2}(\frac{x_1 x_2}{2}+60)+ {{ player.endowment }}-x_1-y_1\)</td>
        </tr>
        <tr>
            <th>Other</th><td>\(x_2\)</td><td>\(y_2\)</td><td>\({{ player.other_endowment }}-x_2-y_2\)</td>
            <td>\(\displaystyle \frac{y_2}{y_1 + y_2} \)</td><td>\(\displaystyle \frac{y_1}{y_1 + y_2}(\frac{x_1 x_2}{2}+60)+ {{ player.other_endowment }} -x_1-y_1\)</td>
        </tr>
    </table>
</div>
{% endif %}

{% if player.condition == "Det" and player.A == 0 %}
<div>
    <table>
        <tr>
            <th></th>
            <th>Investment Account</th><th>Rationing Account</th><th>Kept to oneself</th>
            <th>Total Return</th><th>Share of Total Return</th><th>Final Earnings</th>
        </tr>
        <tr>
            <th>You</th><td>\(x_1\)</td><td>\(y_1\)</td><td>\(10-x_1-y_1\)</td>
            <td rowspan="2">\(x_1x_2\)</td><td> \(\displaystyle \frac{y_1}{y_1 + y_2} \)</td><td>\(\displaystyle \frac{y_1}{y_1 + y_2}x_1 x_2+10-x_1-y_1\)</td>
        </tr>
        <tr>
            <th>Other</th><td>\(x_2\)</td><td>\(y_2\)</td><td>\(10-x_2-y_2\)</td>
            <td>\(\displaystyle \frac{y_2}{y_1 + y_2} \)</td><td>\(\displaystyle \frac{y_1}{y_1 + y_2}x_1 x_2+10-x_1-y_1\)</td>
        </tr>
    </table>
</div>
{% endif %}

{% if player.condition == "Det" and player.A == 60 %}
<div>
    <table>
        <tr>
            <th></th>
            <th>Investment Account</th><th>Rationing Account</th><th>Kept to oneself</th>
            <th>Total Return</th><th>Share of Total Return</th><th>Final Earnings</th>
        </tr>
        <tr>
            <th>You</th><td>\(x_1\)</td><td>\(y_1\)</td><td>\(10-x_1-y_1\)</td>
            <td rowspan="2">\(x_1x_2+60\)</td><td> \(\displaystyle \frac{y_1}{y_1 + y_2} \)</td><td>\(\displaystyle \frac{y_1}{y_1 + y_2}(x_1 x_2 + 60)+10-x_1-y_1\)</td>
        </tr>
        <tr>
            <th>Other</th><td>\(x_2\)</td><td>\(y_2\)</td><td>\(10-x_2-y_2\)</td>
            <td>\(\displaystyle \frac{y_2}{y_1 + y_2} \)</td><td>\(\displaystyle \frac{y_1}{y_1 + y_2}(x_1 x_2 + 60)+10-x_1-y_1\)</td>
        </tr>
    </table>
</div>
{% endif %}
<br/>
<p>
    In general, putting more points in the <i>Investment Account</i> (a higher \(x_1\))  <strong>generates a higher total return</strong>
    , while putting more points in the <i>Rationing Account</i> (a higher \(y_1\)) <strong>increases your share of the total return</strong>.
</p>

</div>
{% endif %}


{% endblock %}
