{% extends 'otree/WaitPage.html' %}
{% load staticfiles otree %}
{% block title %} {% endblock %}

{% block content %}
<style>
    #width50 {
        width: 50%;
    }

    td {
        border: 1px solid #ddd;
        text-align: center;
        padding: 8px;
        font-size: 10pt;
    }
    th {
        border: 1px solid #ddd;
        text-align: center;
        padding: 5px;
        font-size: 10pt;
    }
    tr:nth-child(even){background-color: #f2f2f2;}
    tr:hover {background-color: #ddd;}

    table {
        margin: auto;
    }
</style>

<p style="font-size:16px">Round {{ player.round_in_interaction }} </p>
<p style="font-size:16px">第 {{ player.round_in_interaction }} 期</p>

<p style="text-align:center; font-size:18px">
You have made the following allocation:
    你已做出了如下决定：
</p>
<table class="table" style="text-align:center">
    <tr>
        <td>Investment Account 投资账户 (\(x_1\)): {{ player.a1 }}</td>
    </tr>
    <tr>
        <td>Rationing Account 分配账户 (\(y_1\)): {{ player.a2 }}</td>
    </tr>
    <tr>
        <td>Kept to oneself 个人留存: {{ player.a3 }}</td>
    </tr>
</table>

<div style="font-size:16px;text-align:center">
    <p>
        Please wait for the other participant to reach decision.
        请等待对方做出决定。
    </p>
</div>

    <p>
       In the rare event that the experiment stays on this page for a long time (more than 2 minutes), the other participant may get disconnected.
            In that case, you can submit the HIT using your MTurk worker ID and inform the requester by email.
            What you have earned so far will be paid to you as bonus.
    </p>

<br/>
{% include Constants.history_template %}

<br/>
<div class="card bg-light instructions">
    <div class="card-body">
        {% include Constants.instructions_template %}
    </div>
</div>

<br/>
{% include Constants.history_previous_template %}
{% endblock %}
