{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
   Payment Information
{% endblock %}

{% block content %}

<p>This is the end of the experiment. Thank you for your participation.</p>
<p>Your experimental earnings is {{experiment_payoff}}.</p>

{% if final_payment > 0 %}
You are among the top {{num_payment}} participants.
<p><strong> You final payment of the experiment is {{final_payment}}.</strong> </p>
{% else %}
You are NOT among the top {{num_payment}} participants.
{% endif %}
{% endblock %}

{% block form %}

{% endblock %}
