{% load staticfiles otree %}
{% block content %}


{% if player.language != "EN"  %}
<p>
    请完成下面有关实验信息的测试题。当你正确的回答所有问题后,实验才会继续。
</p>
<p>
    当你回答完所有问题后，点击 "Check my answers"提交答案. 如果你没有正确回答所有问题，错误的回答将会被标注成红色. 你可以检查你的答案并重新提交答案。
</p>
<p>你可以在屏幕下方看到实验的相关信息帮助你答题。</p>

{% endif %}

{% if player.language != "CN"  %}

<p>
Please complete the following quiz questions based on the above information.
    You have to correctly answer all the questions before you can continue with the experiment.
</p>
<p>
    Please provide your answers before clicking "Check my answers", then the answers that are incorrect will be marked in red.
    Check and correct the wrong answers before checking your answers again.
</p>
<p>The information and examples of the experiment are shown below to help you complete the quiz.</p>
{% endif %}

{% endblock %}


