{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
{% endblock %}

{% block content %}

{% if player.language != "CN"  %}
<div style="text-align:center;font-size:18px">
    <p>
        You have finished the quiz questions.
    </p>
    <p>
        Click "Next", and you will be matched with another participant to continue with the experiment.
    </p>
</div>
{% endif %}
{% if player.language != "EN"  %}
<div style="text-align:center;font-size:18px">
    <p>你完成了测验题目。
        点击"Next", 你将与其他参与者匹配进行实验。
    </p>
</div>
{% endif %}

<br/>
<div style="text-align:right">
    {% next_button %}
</div>

{% endblock %}


