{% load otree staticfiles %}


<div class="instructions well well-lg">
    <link rel="stylesheet" type="text/css"
          href="{% static 'global/matrix.css' %}"/>

    <table class='table table-bordered text-center'
           style='width: auto; margin: auto'>
        <tr>
            <th colspan=2 rowspan=2></th>
            <th colspan=2>Other participant</th>
        </tr>
        <tr>
            <th style="text-align:center;color:red;">A</th>
            <th style="text-align:center;color:red;">B</th>
        </tr>
        <tr>
            <th rowspan=2><span class="rotate90">You</span></th>
            <th align ="center" style="color:blue;">A</th>
            <td><span style="color:blue;">{{ p11}}</span>, <span style="color:red;">{{ p11o }}</span></td>
            <td><span style="color:blue;">{{ p12}}</span>, <span style="color:red;">{{ p21o }}</span></td>
        </tr>
        <tr>
            <th align = "center" style="color:blue;">B</th>
            <td><span style="color:blue;">{{ p21 }}</span>, <span style="color:red;">{{ p12o }}</span></td>
            <td><span style="color:blue;">{{ p22 }}</span>, <span style="color:red;">{{ p22o }}</span></td>
        </tr>
    </table>

    <hr>
    {% if player.treatment == 'fixed' %}
    <p>
    You will be playing with <strong> the same </strong>
        participant for this game.
    <p>
    {% endif %}
    {% if player.treatment == 'random' %}
    <p>
    You will be <strong> randomly matched </strong> to a participant at the start of each round.
    <p>
    {% endif %}
    {% if player.treatment == 'reputation' %}
    <p>
        You will be <strong> randomly matched </strong> to a participant at the start of each round.
    </p>
    <p>
        <strong>
            In each round after the first round, you will have information on the other participant's past plays.
            The other participant will also know your past plays.
        </strong>
    </p>
    {% endif %}
</div>

