{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
Instruction for the next part
{% endblock %}

{% block content %}
<p>
    In this part of the experiment, you will be randomly matched with another participant, and
    play the following game with <strong>the same participant</strong> for {{ num_rounds }} rounds.
</p>

{% if player.round_number == 1 %}
<p>
    Remember to click "Next" when you have made your decision -- your decision is submitted <strong>only after</strong> your click "Next".
</p>
<p>
    In each round, you have 30 seconds to reach your decision.
    If you do not submit your answer within the allocated time, the computer will randomly choose an action for you.
</p>
<p>
    The experiment proceeds as fast as the slowest participant, so make your decision in a timely manner.
</p>
{% endif %}

    {% include Constants.instructions_template %}


<p>
    We will continue with the experiment when everyone is ready.
</p>
{% endblock %}
