{% extends 'otree/WaitPage.html' %}
{% load staticfiles otree %}

{% block title %}
{% endblock %}


{% block content %}
<p style="font-size:16px"> Round {{ player.round_in_interaction }} of {{ num_rounds}} </p>

<style>
    #width50 {
        width: 50%;
    }
    td {
        border: 1px solid #ddd;
        text-align: center;
        padding: 8px;
        font-size: 10pt;
    }
    th {
        border: 1px solid #ddd;
        text-align: center;
        padding: 5px;
        font-size: 10pt;
    }
    tr:nth-child(even){background-color: #f2f2f2;}
    tr:hover {background-color: #ddd;}

    table {
        margin: auto;
    }
</style>

<div style="text-align:center;font-size:16px">
    {% if player.choice == -1 %}
        <p> You have chosen {{ player.get_choice_display }} and received {{ player.payoff }}. </p>
    {% else %}
        <p> You have chosen {{ player.get_choice_display }} and received {{ player.payoff }}. </p>
    {% endif %}
    <p> Please wait for the other participants to finish their decisions before the experiment continues. </p>
</div>
<hr>
</br>

{% if player.round_in_interaction != 1 %}
{% include Constants.history_previous_template %}
{% endif %}

{% endblock %}

