{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Make your choice
{% endblock %}

{% block content %}
<p style="font-size:16px"> Round {{ player.round_in_interaction }} of {{ num_rounds }} </p>

<div class="row">
    <div class="col-sm-1"> </div>
    <div class="col-sm-2">
        <button name="choice" value=0 class="btn btn-primary btn-block">    A    </button>
    </div>
    <div class="col-sm-2">
        <button name="choice" value=1 class="btn btn-primary btn-block">    B    </button>
    </div>
    <div class="col-sm-2">
        <button name="choice" value=2 class="btn btn-primary btn-block">    C    </button>
    </div>
    <div class="col-sm-2">
        <button name="choice" value=3 class="btn btn-primary btn-block">    D    </button>
    </div>
    <div class="col-sm-2">
        <button name="choice" value=4 class="btn btn-primary btn-block">    E    </button>
    </div>
    <div class="col-sm-1"> </div>
  </div>

</br>
<p>Choose one of the above options.</p>
</br>
{% if player.round_in_interaction != 1 %}
{% include Constants.history_previous_template %}
{% endif %}
{% endblock %}
