{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
Instructions
{% endblock %}

{% block content %}
{% if player.interaction_number == 1 %}
<p>
    This part of the experiment consists of {{ num_rounds }} rounds.
    In each round, you have five investment opportunities (A, B, C, D, E), displayed as follows:
</p>

<div class="row">
    <div class="col-sm-1"> </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-primary btn-block">    A    </button>
    </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-primary btn-block">    B    </button>
    </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-primary btn-block">    C    </button>
    </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-primary btn-block">    D    </button>
    </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-primary btn-block">    E    </button>
    </div>
    <div class="col-sm-1"> </div>
</div>

</br>
</br>
<p>
    You can choose an option by clicking it, then its payoff will be shown. For example, if you
    choose C and receive 50 points, the following results will be shown:
</p>

<div class="row">
    <div class="col-sm-1"> </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-primary btn-block disabled"> A </button>
    </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-primary btn-block disabled"> B </button>
    </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-primary btn-block"> 50 points </button>
    </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-primary btn-block disabled"> D </button>
    </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-primary btn-block disabled""> E </button>
    </div>
    <div class="col-sm-1"> </div>
</div>

</br>
<p>
    You can continue to the next round by clicking the box showing your payoff.
</p>
<p>
    The return of each investment option follows a certain probabilistic distribution.
</p>

{% else %}
<p>
    This part of the experiment consists of {{ num_rounds }} rounds.
    You still have five investment opportunities (A, B, C, D, E), but <strong>the returns of each investment follow different
    probabilistic distributions from the previous part</strong>.
</p>

{% endif %}

<p>
    In each round, you have at most <strong>20 seconds to make your decision</strong>.
    If you fail to reach an decision within the allocated time, the computer will randomly choose an option,
    and your payoff for that round will NOT be counted towards your
    final earnings.
</p>


<p>
    The history of your past choices and payoffs will be provided, in case you want to check the corresponding informatin.
    However, keep in mind that you should not spend too much time studying the history.
</p>


{% comment %}
<div style="text-align:right">
    {% next_button %}
</div>
{% endcomment %}
{% endblock %}

