{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
New Information
{% endblock %}


{% block content %}
<p style="font-size:16px"> Round {{ player.round_in_interaction|add:1 }} of {{ num_rounds }} </p>

<style>
    #width50 {
        width: 50%;
    }
    td {
        border: 1px solid #ddd;
        text-align: center;
        padding: 8px;
        font-size: 10pt;
    }
    th {
        border: 1px solid #ddd;
        text-align: center;
        padding: 5px;
        font-size: 10pt;
    }
    tr:nth-child(even){background-color: #f2f2f2;}
    tr:hover {background-color: #ddd;}

    table {
        margin: auto;
    }
</style>


<p>NOTE: for the rest of this part, additional information will be provided to you. </p>
<p>
    The computer has just randomly selected you and other participants to form a group of {{ player.group_size }} participants.
    In each round, you will be provided with <strong>the information on the {% if player.treatment <= 2 %}average{% else %}highest{% endif%}
    payoff</strong> received by this group of {{ player.group_size }} participants.
</p>
<div style="text-align:right">
    {% next_button %}
</div>
</br>
{% include Constants.history_template %}

{% endblock %}

