{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
Examples
{% endblock %}


{% block content %}
<div class="card bg-light instructions">
    <div class="card-body">
        {% include Constants.summary_template %}
    </div>
</div>
<br/>
<p>
    Below are some examples to help you understand the experiment. The information on this page, including the examples,
    will be shown to you while you answer the quiz questions.
</p>
<p>
以下举例帮助你更好的理解本实验。本页中的信息（包括例子）在你回答小测验的过程中可见。
</p>
{% include Constants.examples_template %}

<br/>
<p>Click "Next" to answer the quiz questions.
</p>
<p>
    点击"Next"开始回答小测验。
</p>

<div style="text-align:right">
    {% next_button %}
</div>

{% endblock %}
