{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
Instructions: Part 1
{% endblock %}

{% block styles %}
<style>
    .otree-timer {
        display: none;
    }
</style>
{% endblock %}

{% block content %}
<!--The following includes mathjax, the support for LaTex expressions.-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>MathJax example</title>
    <script type="text/javascript" async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML" async>
    </script>
</head>

<div>
    <p>
        In this part, there will be 10 rounds of decision-making. You will be matched with another participant to play
        an investment game. You will play with the same participant for all 10 rounds.
    </p>

    <p style="text-align: center">
        <strong><u>Your decision</u></strong>
    </p>

    <p>
    <ul>
        <li>
            In each round, you receive 10 points.
        </li>
        <li>
            You can use these points make a joint investment with the other participant.
        </li>
        <li>
            You can invest these points to an <strong>Investment Account</strong> and a <strong>Rationing Account</strong>,
            or keep these points to yourself.
        </li>
    </ul>

    <p style="text-align: center">
        <strong><u>Your earnings</u></strong>
    </p>

    <ul>
        <li>
            Points in the <strong>Investment Account</strong> determine the size of the total return from the investment. More points
            means larger returns.
        </li>
        <li>
            The total return from the investment is shared by you and the other participant.
        </li>
        <li>
            Points in the <strong>Rationing Account</strong> determine your share of the total return. More points means bigger shares.
        </li>
        <li>
            You can also keep the points for yourself, which directly counts are part of your earnings.
        </li>
    </ul>

    <p>
        Specifically, suppose you and the other participant have the following allocation of the points:
    </p>
    <table id="width50">
        <tr>
            <th></th>
            <th>Investment Account</th><th>Rationing Account</th><th>Kept to oneself</th>
        </tr>
        <tr>
            <th>You</th><td>\(x_1\)</td><td>\(y_1\)</td><td>\(10-x_1-y_1\)</td>
        </tr>
        <tr>
            <th>Other</th><td>\(x_2\)</td><td>\(y_2\)</td><td>\(10-x_2-y_2\)</td>
        </tr>
    </table>
</div>
<br/>
<p>Your earnings is calculated as follows.</p>
{% if player.condition == "Det" %}
<div>
    <ul>
        <li>
            The total return from the investment depends on the points put in the Investment Account by you and the other
            {% if player.A == 0 %}
            $$ \text{Total investment return} = x_1 x_2 $$
            {% endif %}
            {% if player.A == 60 %}
            $$ \text{Total investment return} = x_1 x_2 + 60 $$
            {% endif %}
        </li>
        <li>
            Your share of the total return is determined by your share of points in the <i>Rationing Account</i>:
            $$ \text{Your share of the total return} =  \frac{y_1}{y_1 + y_2} $$
            <p>
                For example, if you put 6 points in the Rationing Account while the other puts 4 points (\(y_1=6,y_2=4\)), because 60% of all the points
                are yours, you will receive 60% of the Total Return. If you put 5 points and the other also put 5 points in the Rationing Account (\(y_1=5,y_2=5\)), then
                you receive 50% of the Total Return.
            </p>
            <p>
            In case both of you put 0 points in the Rationing Account (\(y_1=y_2=0\)), the total return will be evenly split between you two.
            </p>
        </li>
        <li> Your final earnings can be expressed as

            {% if player.A == 0 %}
            $$\text{Final Earnings} =  \underbrace{\frac{y_1}{y_1 + y_2}x_1 x_2}_{\text{earnings from the investment}} +
            \underbrace{10-x_1-y_1}_{\text{points kept for oneself}}$$
            {% endif %}
            {% if player.A == 60 %}
            $$\text{Final Earnings} =  \underbrace{\frac{y_1}{y_1 + y_2}(x_1 x_2+60)}_{\text{earnings from the investment}} +
            \underbrace{10-x_1-y_1}_{\text{points kept for oneself}}$$
            {% endif %}
        </li>
    </ul>
    <p>
        In general, putting more points in the <i>Investment Account</i> (a higher \(x_1\))  <strong>generates a higher total return</strong>
        , while putting more points in the <i>Rationing Account</i> (a higher \(y_1\)) <strong>increases your share of the total return</strong>.
    </p>
</div>
{% endif %}

{% if player.condition == "Fix" %}
<div>
    <ul>
        <li>
            The investment can be either success or unsuccessful, which are equally likely.
            {% if player.A == 0 %}
            If it is successful, the total return is \(2x_1x_2\) points; if it is unsuccessful, the total return is 0 points.
            $$   \text{Total Return} =
            \begin{cases}
            2x_1x_2, & \text{if successful (with probability 0.5)} \\
            0, & \text{if unsuccessful (with probability 0.5)}
            \end{cases} $$
            {% endif %}

            {% if player.A == 60 %}
            If it is successful, the total return is \(2x_1x_2+60\) points; if it is unsuccessful, the total return is 60 points.
            $$   \text{Total Return} =
            \begin{cases}
            2x_1x_2+60, & \text{if successful (with probability 0.5)} \\
            60, & \text{if unsuccessful (with probability 0.5)}
            \end{cases} $$
            {% endif %}
        </li>
        <li> Your share of the total return is determined by your share of points in the <i>Rationing Account</i>:
            $$ \text{Your share of the total return} =  \frac{y_1}{y_1 + y_2} $$
            <p>
                For example, if you put 6 points in the Rationing Account while the other puts 4 points (\(y_1=6,y_2=4\)), because 60% of all the points
                are yours, you will receive 60% of the Total Return. If you put 5 points and the other also put 5 points in the Rationing Account (\(y_1=5,y_2=5\)), then
                you receive 50% of the Total Return.
            </p>
            <p>
                In case both of you put 0 points in the Rationing Account, the total return will be evenly split between you two.
            </p>
        </li>
        <li>
            Your final earnings can be expressed as
            $$\text{Final Earnings} =  \underbrace{\frac{y_1}{y_1 + y_2} \text{Total Return}   }_{\text{earnings from the investment}} +
            \underbrace{10-x_1-y_1}_{\text{points kept for oneself}}$$
        </li>
    </ul>
    <p>
        In general, putting more points in the <i>Investment Account</i> (a higher \(x_1\))  <strong>generates a higher total return</strong>
        , while putting more points in the <i>Rationing Account</i> (a higher \(y_1\))  <strong>increases your share of the total return</strong>.
    </p>
    <p>
        In each round, to determine whether the investment is a success,
        the computer randomly generates <strong>an integer between 1 and 200</strong> (inclusive)
        with equal probability.
        If the number is less than or equal to 100, the investment is successful;
        if the number is greater than 100, the investment is unsuccessful.
    </p>
</div>
{% endif %}


{% if player.condition == "Var" %}
<div>
        <ul>
            <li>
                The investment can be either successful or unsuccessful.
                {% if player.A == 0 %}
                If it is successful, the total return is 110 points;
                if it is unsuccessful, the total return is 0 points.
                {% endif %}
                {% if player.A == 60 %}
                If it is successful, the total return is 170 points;
                if it is unsuccessful, the total return is 60 points.
                {% endif %}
            </li>
            <li>
            In each round, to determine whether the investment is a success,
            the computer randomly generates <strong>an integer between 1 and 110 </strong> (inclusive) with equal probability.
            If the number is less than or equal to \(x_1 x_2\), the investment is a success; if the number is greater than \(x_1 x_2\),
            the investment is unsuccessful.
                {% if player.A == 0 %}
            $$   \text{Total return} =
            \begin{cases}
            110, & \text{if random number} \leq x_1x_2\\
            0, & \text{if random number} > x_1x_2
            \end{cases} $$
                {% endif %}
                {% if player.A == 60 %}
                $$   \text{Total return} =
                \begin{cases}
                170, & \text{if random number} \leq x_1x_2\\
                60, & \text{if random number} > x_1x_2
                \end{cases} $$
                {% endif %}
        </li>
        <li> Your share of the total return is determined by your share of points in the <i>Rationing Account</i>:
            $$ \text{Your share of the total return} =  \frac{y_1}{y_1 + y_2} $$
            <p>
                For example, if you put 6 points in the Rationing Account while the other puts 4 points (\(y_1=6,y_2=4\)), because 60% of all the points
                are yours, you will receive 60% of the Total Return. If you put 5 points and the other also put 5 points in the Rationing Account (\(y_1=5,y_2=5\)), then
                you receive 50% of the Total Return.
            </p>
            <p>
                In case both of you put 0 points in the Rationing Account, the total return will be evenly split between you two.
            </p>
        </li>
        <li>
            Your final earnings can be expressed as
            $$\text{Final Earnings} =  \underbrace{\frac{y_1}{y_1 + y_2} \text{Total Return}   }_{\text{earnings from the investment}} +
            \underbrace{10-x_1-y_1}_{\text{points kept for oneself}}$$
        </li>
    </ul>

    <p>
        In general, putting more points in the <i>Investment Account</i> (a higher \(x_1\))
        <strong>makes it more likely to receive a successful investment and a higher total return</strong>
        , while putting more points in the <i>Rationing Account</i> (a higher \(y_1\))  <strong>increases your share of the total return</strong>.
    </p>
</div>
{% endif %}

<div style="text-align:right">
    {% next_button %}
</div>

{% endblock %}
