{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
   Welcome to the experiment of decision-making.
{% endblock %}

{% block content %}
    <ul>
        <li>
            The amount of money you earn depends on your decisions.
        </li>
        <li>
            You earn Points throughout the experiment; Points will be converted at
            the exchange rate of <strong> {{ exchange_rate }} Points = $1.</strong>
        </li>
        <li>
            This experiment consists of several part and will take approximately 30 minutes.
        </li>
        <li>
            There is a quiz at the end of the instructions. You have <strong>three chances</strong> to answer all the questions correctly.
        </li>
        <li>
            <strong>If you fail to correctly answer the questions, you are will not be able to participate or receive any payment.</strong>
        </li>
        <li>
            You receive $1 for sure after successfully completing the experiment.
        </li>
        <li>
            Depending on your and other participants' decisions, you can also earn up to ${{ max_payment }} as additional bonus.
        </li>
    </ul>


    <p style="font-size:16px">

    </p>



    </p>

    <div style="text-align:right">
    {% next_button %}
    </div>

{% endblock %}
