{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block styles %}
    <style>
        .otree-timer {
            display: none;
        }
    </style>
{% endblock %}
{% block scripts %}
    <script>
        $(function () {
            $('.otree-timer__time-left').on('update.countdown', function (event) {
                if (event.offset.totalSeconds === 30) {
                    $('.otree-timer').show();
                }
            });
        });
    </script>
{% endblock %}


{% block title %}
You are about to start a new task.
{% endblock %}

{% block content %}
    <ul>
        <li>
            In the next task, you will be matched with a new participant (different from the one in the previous allocation task)
            and interact in real time.
        </li>
        <li>
            There is a quiz at the end of the task instructions.
        </li>
        <li>

            You have <strong>{{ Constants.max_attempts}} chances</strong> to answer all the questions correctly.
        </li>
        {% if quiz_bonus != 0 %}
        <li>
            You receive ${{ quiz_bonus }} for passing the quiz, and you can earn additional bonus in the new task.
        </li>
        {% endif %}
        <li>
            <strong>If you fail to pass the quiz, you are will not be able to participate in the new task of the experiment.</strong>
        </li>

    </ul>

    <p style="text-align: center">
        Click "Next" to start reading the instructions of the new task.
    </p>


    <div style="text-align:center">
    {% next_button %}
    </div>

{% endblock %}
