{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Investment task
{% endblock %}

{% block content %}

<p>
   You are given the opportunity to play Russian roulette (the cylinder of the gun can be loaded up to 6 bullets) to win
    some bonus. The number of bullets loaded in the gun is {{ player.bullets }}. You will fire the gun towards the sky after rotating the
    cylinder. If a bullet was not shot, you will earn ${{Constants.bonus}}.
    You have the option to pay up to ${{Constants.bonus}} to remove one bullet from the loaded gun before pulling the trigger.
    Please indicate how much you are willing to pay to reduce the number of bullets from {{ player.bullets}} to {{ player.bullets|add:-1}}?

    {% formfield player.choice label="" %}
</p>
<p>
    Note: After you've made your choice, the computer will randomly generate a number between 1 and 5000 (inclusive) to determine the price of removing
    the bullet. Let's say the randomly determined price is P. If your indicated willingness to pay is less than $P, then you continue to play the game
    without removing a bullet. If your indicated amount is greater P, then you pay $P, remove one bullet, and play the game. Because you do not know
    what the price $P is, it is best for you to indicate the maximum amount that you are willing to pay. Note that if you have paid to remove a bullet
    and you do not win the bonus, you will owe $P.
</p>

<div style="text-align:right">
    {% next_button %}
</div>
{% endblock %}
