{% load otree staticfiles %}

<div class="instructions well well-lg">
    <link rel="stylesheet" type="text/css"
          href="{% static 'global/matrix.css' %}"/>

    <table class='table table-bordered text-center'
           style='width: auto; margin: auto'>
        <tr>
            <th colspan=2 rowspan=2></th>
            <th colspan=2>Other participant</th>
        </tr>
        <tr>
            <th style="text-align:center;color:red;">X</th>
            <th style="text-align:center;color:red;">Y</th>
        </tr>
        <tr>
            <th rowspan=2><span class="rotate90">You</span></th>
            <th align ="center" style="color:blue;">X</th>
            <td><span style="color:blue;">{{ p11}}</span>, <span style="color:red;">{{ p11o }}</span></td>
            <td><span style="color:blue;">{{ p12}}</span>, <span style="color:red;">{{ p21o }}</span></td>
        </tr>
        <tr>
            <th align = "center" style="color:blue;">Y</th>
            <td><span style="color:blue;">{{ p21 }}</span>, <span style="color:red;">{{ p12o }}</span></td>
            <td><span style="color:blue;">{{ p22 }}</span>, <span style="color:red;">{{ p22o }}</span></td>
        </tr>
    </table>

    <hr>
    {% if player.treatment == 'fixed' %}
    <p>
        You will be playing with <strong> the same </strong>
        participant in different rounds.
    <p>
        {% endif %}
        {% if player.treatment == 'random' %}
    <p>
        You will be <strong> randomly matched to a different participant</strong> at the start of each round.

    <p>
        {% endif %}
</div>

