/* ****************************************************************************************************************** */
/* *** General Appearance *** */
/* ****************************************************************************************************************** */

.otree-body {
    min-width: 560px;
    max-width: 720px;
    margin: 0 auto 2.5rem;
}

.page-header {
    margin: 2rem auto;
    padding: 0;
}

h2 {
    text-align: center !important;
}

.h4 {
    margin: 1.75rem 0 0.75rem 0;
    font-size: 1.25rem;
    font-style: italic;
}

.otree-btn-next {
    margin: 30px auto;
    display: inherit !important;
}


/* ****************************************************************************************************************** */
/* *** Decision/Results Table *** */
/* ****************************************************************************************************************** */

.card {
    margin-bottom: 1.5rem;
}

.table {
    margin-bottom: 0;
}

.table>thead>tr>th,
.table>tbody>tr>td {
    text-align: center;
    vertical-align: middle;
    width: 20%;
    min-width: 100px;
    max-width: 150px;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.table thead tr:first-child {
    border: hidden;
    background: rgba(0, 0, 0, 0.15);
}

.table thead tr:last-child {
    border-bottom: 0;
    background: rgba(0, 0, 0, 0.05);
}

.table td {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.table tr:hover {
  background-color: rgba(0, 0, 0, 0.025);
}

.formfield {
    min-width: 120px;
    max-width: 120px;
}

input[type="radio"] {
    margin: auto 0.5rem;
    vertical-align: middle;
}
