{% extends "otree/Page.html" %}
{% load staticfiles otree %}




{% block global_styles  %}
<style>
    #width50 {
        width: 50%;
    }

    td {
        border: 1px solid #ddd;
        text-align: center;
        padding: 8px;
        font-size: 10pt;
    }
    th {
        border: 1px solid #ddd;
        text-align: center;
        padding: 5px;
        font-size: 10pt;
    }
    tr:nth-child(even){background-color: #f2f2f2;}
    tr:hover {background-color: #ddd;}

    table {
        margin: auto;
    }
</style>

{% endblock %}


