{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Investment task
{% endblock %}

{% block content %}

<p>
    In this task, you will select one gamble from seven different gambles shown below.
    Each gamble has two possible outcomes (Event A or Event B), and each event has a 50% chance of occurring.
</p>
<p>
    Your earnings for this part of the study will be determined by:  1) which of the five gambles you select;
    and 2) which of the two possible events occur.
</p>

<ul>
    <li>
    Gamble 1 is the safe gamble, which guarantees to bring you {{ Constants.outcomesA.0 }} $.
    </li>
    <li>
    As the number of the gamble increases, you can earn an increasingly higher payoff if Event B occurs,
    but a lower payoff if Event A occurs.
    </li>
</ul>


    For example:
<ul>
    <li>
        If you select Gamble 2 and Event A occurs, you will earn {{ Constants.outcomesA.1 }} $.
        If Event B occurs, you will earn {{ Constants.outcomesB.1 }} $.
    </li>
    <li>
        If you select Gamble 5 and Event A occurs, you will earn {{ Constants.outcomesA.4 }} $.
        If Event B occurs, you will earn {{ Constants.outcomesB.4 }} $.
    </li>
</ul>



<p>
    To determine which event occurs, after you have made your decision, the computer randomly generate a number from 1 to 10, with equal probability.
    If the number is 1, 2, 3, 4, or 5, then event A occurs.
    If the number is 6, 7, 8, 9, 10, then event B occurs.
</p>

<table class="table" style="text-align:center">
    <tr> <td> Gambles </td> <td> Event A <br/>(when the random number is 1,2,3,4,5)</td> <td> Event B <br/>(when the random number is 6,7,8,9,10)</td> </tr>
    <tr><td>{{ form.choice.0 }}</td><td>{{ Constants.outcomesA.0 }} $</td><td>{{ Constants.outcomesB.0 }} $</td></tr>
    <tr><td>{{ form.choice.1 }}</td><td>{{ Constants.outcomesA.1 }} $</td><td>{{ Constants.outcomesB.1 }} $</td></tr>
    <tr><td>{{ form.choice.2 }}</td><td>{{ Constants.outcomesA.2 }} $</td><td>{{ Constants.outcomesB.2 }} $</td></tr>
    <tr><td>{{ form.choice.3 }}</td><td>{{ Constants.outcomesA.3 }} $</td><td>{{ Constants.outcomesB.3 }} $</td></tr>
    <tr><td>{{ form.choice.4 }}</td><td>{{ Constants.outcomesA.4 }} $</td><td>{{ Constants.outcomesB.4 }} $</td></tr>
    <tr><td>{{ form.choice.5 }}</td><td>{{ Constants.outcomesA.5 }} $</td><td>{{ Constants.outcomesB.5 }} $</td></tr>
    <tr><td>{{ form.choice.6 }}</td><td>{{ Constants.outcomesA.6 }} $</td><td>{{ Constants.outcomesB.6 }} $</td></tr>
</table>

<p>
Please make your choice. After you have made your choice, click "Next" to see the outcome.
</p>
<div style="text-align:right">
    {% next_button %}
</div>
{% endblock %}
