{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
{% endblock %}

{% block content %}

{% if language != "EN"  %}
<p> <strong>实验报酬</strong> </p>
<p>感谢参加本次决策实验。</p>
<p>你获得的实验货币是 {{experiment_currency}}</p>
<p><strong> 你在本实验的报酬是 {{final_payment}} 元。</strong> </p>
<p>请填写好实验付款收据后，举手示意实验人员。 </p>
     <p>   请将实验付款收据及实验材料交给实验人员并接受实验报酬。 </p>
{% endif %}

{% if language != "CN"  %}
<p> <strong> Payment Information </strong> </p>
<p>This is the end of the experiment. Thank you for your participation.</p>
<p><strong> You payment of the experiment is  {{final_payment}}</strong> </p>
{% endif %}

{% endblock %}



{% block form %}

{% endblock %}
